.elevator {
    text-align: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    margin-top: -200px;
    background: #e23a47;
}

.elevator:hover {
    opacity: 0.7;
}

.elevator i {
    color: #fff;
    line-height: 80px;
}


